.selected {
  text-decoration: underline;
}
/*
.selected:before {
    content: "";
    width: 10px;
    height: 10px;
    position: relative;
    border-top: 8px solid transparent;
    border-right: 10px solid transparent;
    display: inline-block;
    border-left: 15px solid green;
    border-bottom: 8px solid transparent;
}
*/