.button{
	height:70px;
	opacity:0.6;
	outline:none;
	transform:scale(1);
	transition:all 0.5s eas-in-out;
}
.text {
  font-weight: 500;
}
.button:hover,
.button_selected{
	opacity:1;
	transform:scale(1.1);
}
.image{
	width:45px;
}

@media (max-width: 40em) {
  .button{
    height: 55px;
  }
  .image{
    width:35px;
  }
}
// Iphone 5/SE
@media (max-width: 30em) {
  .button{
    height: 50px;
    padding: 10px 15px;
  }
  .image{
    width:30px;
  }
}
