page-transactions {
  .scroll-content {
    border-top: 0px !important;
  }
  .top-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }
  ion-grid {
    cursor: pointer;
  }
}
