account-icon {
    .title-image {
        margin-top: 8px;
        height: 27px;
        filter: brightness(0) invert(1);
    }
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    canvas {
        border-radius: 50%;
    }
}